[Unit]
Description=Bodhi Linux Software Update Notifier
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/mudhitha/System/bodhi-update-notifier/bodhi-update-notifier.sh
Restart=on-failure
RestartSec=10
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
